@font-face {
  font-family: "Moder";
  src: url("../../fonts/moder/Moder DOS 437 Win.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Moder";
  src: url("../../fonts/moder/Moder DOS 437.ttf");
  font-weight: 900;
}
